/com.ibm.streamsx.iot.test.testDeviceCmdsAll.sab
/com.ibm.streamsx.iot.test.testDeviceCmdsCommandId.sab
/com.ibm.streamsx.iot.test.testDeviceEventsAll.sab
/com.ibm.streamsx.iot.test.testDeviceEventsEventId.sab
